<!DOCTYPE HTML>
<html lang="ja">
<head>
    <title>caSystem</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">  <!--PATH for css file-->
</head>

<body>
    <h3>Credibility Assessment System</h3>
    <br>
    <h4>Result</h4>
    <p>Target Information : {{target}}</p>
    <p>Language : {{language}}</p>
    <p>Keywords : {{keywords}}</p>
    <hr>
    <p>{{output}}</p>
    
    <hr>
    <a href="./.." style="text-decoration:none;">Back</a><br>
    <a href="http://gmsresearch01.komazawa-u.ac.jp/~ken/mypage/index.html" style="text-decoration:none;">Ken Honda WebPage</a><br>
    <a href="./../../../imp/credibility_cal_old/index.html" >Credibility Calculation System (old version)</a><br>
    <small>&copy;copyright 2019 Ken Honda.</small>

</body>
</html>